@model IEnumerable<Pharmeasy.Models.Prscptn_mdicn_master>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.medicine_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prescription.treatment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine.medicine_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prescription.treatment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.prscptn_mdicn_masters_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.prscptn_mdicn_masters_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.prscptn_mdicn_masters_id })
        </td>
    </tr>
}

</table>
