@model Pharmeasy.Models.Approval

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Approval</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoctorData.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorData.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pharmacist.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pharmacist.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserData.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_doc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_ph)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_ph)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.approval_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
